body{
  font-family: Thasadith, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0A2229;
}
h2{
  font-family: Reenie Beanie;
  text-align: center;
  font-size: 4em;
}

.logo{
  font-family: Major Mono Display, monospace;
  font-size: 2em;
}

header{
  background-image: url(../img/color2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 0.150em 0.20em 2em #000000;
  padding-bottom :  10rem ;
  position: relative;
  font-weight: 700;
  font-weight: bold;

}

header h3{
  font-size: 3em;
}



.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators{
    top: 110%;
}

.carousel-item img{
  height: 100%;
  width: 100%;
}

.card{
   background-color: #0B2F3A;
   color: #848484;
}


.fab {
  color: #B79191;
}
footer{
  background-color: #633A3A;
  color: #B79191;
}
